@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.grandTableau {
    width: fit-content;
    border: solid;
    background-color: rgb(201, 201, 201);
    display: flex;
    align-items: center;
}
.petitTableau {
    width: fit-content;
}
.row {
    display: flex;
    justify-content: space-evenly;
}
.case, .hidden {
    display: flex;
    padding: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    outline: 1px dashed black;
    border: 2px dashed transparent;
    justify-content: center;
    align-items: center;
}
.hidden {
    color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 2px;
    border-color: white black black white;
}
.hidden:hover {
    color: black;
    border: 2px dashed transparent;
}
body {
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    align-items: center;
}
img {
    width: 50px
}
i {
    font-style: normal;
}
.one {
    color: blue;
}
.two {
    color: green;
}
.three {
    color: red;
}
body, html {
    width: 100%;
    height: 100%;
}